[submodule "lib/Adafruit_PWM_Servo_Driver"]
	path = lib/Adafruit_PWM_Servo_Driver
	url = https://github.com/adafruit/Adafruit_Python_PCA9685.git
[submodule "lib/Adafruit_Python_GPIO"]
	path = lib/Adafruit_Python_GPIO
	url = https://github.com/adafruit/Adafruit_Python_GPIO.git
